# Environment variables for your local MySQL database.
# Replace 'root' and 'password' with your MySQL username and password.
# Replace 'localhost:3306' if your MySQL is on a different port (like 3307).
# The database name at the end must be 'musclemap'.

DATABASE_URL="mysql://root:@localhost:3306/musclemap"

# You should copy this file, rename it to just '.env', and then fill in your details!
